@import url('https://fonts.googleapis.com/css2? family = Poppins: wght @ 100; 200; 300; 400; 500; 500; 600; 700 & display = swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    
}

body {
    text-align: center;
    
}
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE220;
    width: 1200px;
}
img {
    margin: 20px 40px 20px 100px;
}
#menu-h {
    margin: auto;
}
#menu-h li {
    flex: 1;
    list-style: none;
    display: inline;
    
}
#menu-h li a {
    text-decoration: none;
    font-family: Poppins,sans-serif;
    color: #1D6132;
    padding: 20px;
    transition: background .6s;
}
#menu-h li a:hover {
    background-color: #FFE220;
}
.slide {
    background-color: tomato;
    display: flex;
    align-items: center;
    padding: 0;
    
}
.fundo-slide{
    margin: auto;
    display: inline;
        
}
.slide h1 {
    position: absolute;
    color: #FFE220;
    font-size: 4em;
    margin-left: 80px;
    font-family: Popping, sans-serif;
    font-weight: 900;
}
.maquina-slide {
    width: 600px;
    margin: 0%;
    position: absolute;
    right: 0;
    top: 112px;
}
