@import url('https://fonts.googleapis.com/css2? family = Poppins: wght @ 100; 200; 300; 400; 500; 500; 600; 700 & display = swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100vw;
    text-align: center;
}
header {
    background-color: rgb(255, 255, 255);
    margin: 20px 0px;
}
header .cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1070px;
    margin: auto;
}
#menu-h {
    margin: auto;
}
#menu-h li {
    flex: 1;
    list-style: none;
    display: inline;
    
}
#menu-h .botao {
    background-color: #1D6132;
    color: #FFE220;
}
#menu-h li a {
    text-decoration: none;
    font-family: Poppins,sans-serif;
    color: #1D6132;
    padding: 20px;
    /*transition: background .6s;*/
}
#menu-h li a:hover {
    border-bottom: 4px solid #FFE220;
    font-weight: 600;
}
#menu-h li a.botao:hover {
    border: none;
}



/*CONFIGURACAO SLIDE*/



section .banners {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(/imagens/slide-fundo.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.banner-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1070px;
}

section .banner--left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items:center;
    color: #FFE220;
    font-size: 35px;
    text-align: left;
    line-height: 66px;
}
section .banner--right {
    flex: 1;
}

.section--title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    flex-direction: column;
}
.section--title-matriz h1 {
    font-size: 55px;
    color: #1D6132;
    font-weight: 800;
}
.section--title-matriz h3 {
    font-size: 22px;
    font-weight: 400;
    color: #1D6132;
}
.section--info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1070px;
    margin-top: 30px;
}
.section--info p {
    font-weight: 300;
}
.info-item-maquina,
.info-item-peneira,
.info-item-bancalino {
    flex: 1;
    padding: 15px;
    background-color: #dddddd;
    margin-right: 30px;
    color: #1D6132;
    border-radius: 5px;
    
}
.info-item-img img{
    box-shadow: 1px 1px 20px rgb(255, 255, 255);
    margin-bottom: 10px;
}